<template>
    <div class='game'>
        Self player: {{selfPlayerId}}
        Current player: {{currentPlayerId}}
        Winning player: {{winningPlayerId}}
        <game-board @click:tile='onTileClick' :map='map'/>
        <button @click='startNewGame'>Nowa gra</button>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import GameBoard from '../components/GameBoard.vue';

@Component({
    props: {
        roomName: String,
    },
    components: {
        GameBoard,
    },
})
export default class Game extends Vue {
    public roomName!: string;

    private get map() {
        return this.$store.state.game.map;
    }

    private get currentPlayerId() {
        return this.$store.state.game.currentPlayerId;
    }

    private get selfPlayerId() {
        return this.$store.state.game.selfPlayerId;
    }

    private get winningPlayerId() {
        return this.$store.state.game.winningPlayerId;
    }

    private async mounted() {
        await this.$store.dispatch('lobby/joinRoom', this.roomName);
    }

    private onTileClick(column: number, row: number) {
        console.log('X:', column, 'Y:', row);
        this.$store.dispatch('game/makeMove', { column, row });
    }

    private startNewGame() {
        this.$store.dispatch('game/newGame');
    }
}

</script>

