<template>
    <div class='lobby'>
        <div class='lobby__options'>
            <input class='lobby__room' v-model='newRoomName'>
            <button class='lobby__room__create' @click='joinRoom(newRoomName)'>Utwórz pokój</button>
        </div>
        <ul class='lobby__rooms'>
            <li class='lobby__room' v-for='room in rooms' :key='room' @click='joinRoom(room)'>{{room}}</li>
        </ul>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component
export default class Lobby extends Vue {
    private newRoomName: string = '';

    private get rooms() {
        return this.$store.state.lobby.rooms;
    }

    private mounted() {
        this.$store.dispatch('lobby/getRooms');
    }

    private async joinRoom(room: string) {
        this.$router.push({name: 'game', params: { roomName: room }});
    }
}

</script>

<style lang="scss">

</style>


