<template>
    <div class='tile' @click='$emit("click")'>
        <slot name='player-one' v-if='occupiedBy == 1'></slot>
        <slot name='player-two' v-if='occupiedBy == 2'></slot>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component({
    props: {
        occupiedBy: Number,
    },
})
export default class BoardTile extends Vue {
    public occupiedBy!: number;
}
</script>
