<template>
    <div class='board'>
        <board-tile class='board__tile' v-for='n in 9' :key='n' @click='onTileClick(n - 1)'
            :class='tileClass(n - 1)'
            :occupiedBy='occupiedBy(n - 1)'>
            <template slot='player-one'>
                X
            </template>
            <template slot='player-two'>
                O
            </template>
        </board-tile>
        <div class='board__line board__line--1'></div>
        <div class='board__line board__line--2'></div>
        <div class='board__line board__line--3'></div>
        <div class='board__line board__line--4'></div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import BoardTile from './BoardTile.vue';

@Component({
    props: {
        map: Object,
    },
    components: {
        BoardTile,
    },
})
export default class GameBoard extends Vue {
    public map!: {[key: number]: {[key: number]: number}};

    private onTileClick(nIndex: number) {
        const row = Math.floor(nIndex / 3);
        const column = nIndex % 3;

        this.$emit('click:tile', column, row);
    }

    private tileClass(nIndex: number) {
        const row = Math.floor(nIndex / 3);
        const column = nIndex % 3;

        return 'board__tile--row-' + (row + 1) + ' board__tile--column-' + (column + 1);
    }

    private occupiedBy(nIndex: number) {
        const row = Math.floor(nIndex / 3);
        const column = nIndex % 3;

        return this.map[column][row];
    }

}
</script>

<style lang="scss">
.board {
    display: grid;
    width: 512px;
    height: 512px;

    grid-template-columns: 1fr 2% 1fr 2% 1fr;
    grid-template-rows: 1fr 2% 1fr 2% 1fr;

    &__tile {
        grid-area: line;

        &--row-1 {
            grid-row: 1;
        }

        &--row-2 {
            grid-row: 3;
        }

        &--row-3 {
            grid-row: 5;
        }

        &--column-1 {
            grid-column: 1;
        }

        &--column-2 {
            grid-column: 3;
        }

        &--column-3 {
            grid-column: 5;
        }
    }

    &__line {
        background: red;

        &--1 {
            grid-row: 2;
            grid-column: 1 / 6;
        }

        &--2 {
            grid-row: 4;
            grid-column: 1 / 6;
        }

        &--3 {
            grid-row: 1 / 6;
            grid-column: 2;
        }

        &--4 {
            grid-row: 1 / 6;
            grid-column: 4;
        }
    }
}
</style>
